<!-- Elements added to "home.html" will only be displayed on the home page -->
{% block title %}
<title>SAE4Health</title>
{% endblock %}

{% extends "main.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ 'assets/stylesheets/home.min.css' | url }}">
<style>
  .md-main { flex-grow: 0 }
  .md-main__inner { display: flex; height: 100%; }
  .tx-container-first { 
    background: linear-gradient(to bottom, var(--md-primary-fg-color), white 100%);
    margin-bottom: 10%;
  }        
  /*.tx-container-second { background: linear-gradient(to bottom, rgb(153, 213, 104), var(--md-primary-fg-color) 100%) }*/

  .tx-container-first h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 6%;
  }

  .tx-container-first div {
    font-size: 18px;
    margin-left: 10%;
  }

  .tx-hero {
    margin: 32px 2.8rem;
    color: var(--md-primary-bg-color);
    justify-content: center;
    text-align: center;
  }
  .tx-hero h1 { font-weight: 700; margin-bottom: 1rem;}
  .tx-hero p { font-size: 1.2em; color: #444; }

  .mdx-expect__link{
    margin: 2%;
  }
</style>
{% endblock %}

{% block tabs %}
{{ super() }}


<section class="tx-container-first" style="margin: 0; padding: 0">
  <h1>Welcome to SAE4Health</h1>
  <div>This site gathers and displays small area estimation result visualizations from SurveyPrev. </div>
  <div style="margin-top: 10px;">Results are presented by each country, please select the country to proceed.</div>
</section>

<section class="tx-container-second">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <div class="mdx-expect">
        <ul class="mdx-expect__list">
          <a href="{{ 'country_selection/Nigeria/nigeria/' | url }}" class="mdx-expect__link">
            <li
                style="background: url('{{ 'assets/images/flags/NGA.png' | url }}') center/cover no-repeat;
                color: white; text-align: center; padding: 40px;">
              <div class="mdx-expect__description">
                <h2 style="color: black">Nigeria</h2>
              </div>
            </li>
          </a>
          <a href="{{ 'country_selection/Rwanda/' | url }}" class="mdx-expect__link">
            <li
                style="background: url('{{ 'assets/images/flags/RWA.png' | url }}') center/cover no-repeat;
                color: white; text-align: center; padding: 40px;">
              <div class="mdx-expect__description">
                <h2>Rwanda</h2>
              </div>
            </li>
          </a>
          
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
